@import "bootstrap/bootstrap.scss";

main img {
    border: 2px solid;
    width: 12.7rem;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#spazioFoot {
    width: 50%;
    padding-top: 100px;
}
footer img {
    padding-right: 11px;
    width: 36px;
}
#aService {
    width: 13%;
    margin-top: 27px;
    margin-bottom: 17px;
    font-size: 12px;
}
#pFooter {
    font-size: 12px;
}